DATABASE_URL="postgresql://<DB_USER>:<DB_PASSWORD>@localhost:5432/cure_all_db"
SHADOW_DATABASE_URL="postgresql://<DB_USER>:<DB_PASSWORD>@localhost:5432/cure_all_shadow_db"
PORT=3000
JWT_SECRET="change_me"
JWT_REFRESH_SECRET="change_me_too"
ROOT_ADMIN_EMAIL="admin@example.com"
ROOT_ADMIN_PASSWORD="change_me"
